[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = "*"
yapf = "*"
ipython = "*"
pytest = "*"
pytest-django = "*"

[packages]
django = "*"
psycopg2 = "*"
social-auth-app-django = "*"
python-jose = "*"
hashids = "*"
django-crispy-forms = "*"
django-extensions = "*"
werkzeug = "*"
django-heroku = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.7"
