{% extends "registration/registration_base.html" %}

{% block title %}Register for an account{% endblock %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
      <!-- TODO add error messages -->    
      <div class="w-100 mv2">
        <div class="{% if field.field.required %}b{% endif %}">{{ field.label_tag }}</div>
        <div>{{ field }}</div>
        {% if field.help_text %}
          <p class="f6 mt0">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit">Register</button>
</form>
{% endblock %}
