{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>busyb</title>
  <link rel="stylesheet" href="{% static 'css/tachyons.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/busyb.css' %}">
</head>
<body class="sans-serif bg-washed-yellow">
  <div class="mw8 center">
    <header class="bg-dark-gray flex items-center light-yellow">
      <div class="ma2"><img class="h2" src="{% static 'img/yellow_bee.png' %}" role="presentation"></div>
      <div class="f3 b" style="flex-grow: 1;">
        <a class="light-yellow link underline-hover" href="/">busyb</a>
      </div>
      <div class="ma2">
        <a class="light-yellow" href="{% url 'task_list' %}">{{ user.username }}</a>
        <a class="light-yellow" href="{% url 'auth_logout' %}">Logout</a>        
      </div>
    </header>
    <div class="mw8 center ph2">
    {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>
